-Always ass comments at the top of what is being commented about,never after
-Always add comments to the funtions to explain why they are there and what they do
-When adding comments to a function,do not add inputs or return types or any other parameters
- Do not add generic comments