-Always ass comments at the top of what is being commented about,never after
-When adding comments to a function,always add a description of what the function does or why,doont add innputs or return types